<h1>Create your new blog!</h1>

<%= form_for @blogger do |f| %>
    <% if flash[:blogger_errors] %>
        <% flash[:blogger_errors].each do |error| %>
            <%= error %>
        <% end %>
    <% end %>
    <p><%= f.label :name %>
    <%= f.text_field :name %></p>
    <p><%= f.label :bio %>
    <%= f.text_area :bio %>*min 30 char.</p>
    <p><%= f.label :age %>
    <%= f.text_field :age %></p>

    <p><%= f.submit %></p>
<%end %>