<%= form_for @post do |f| %>
    <% if flash[:post_errors] %>
        <% flash[:post_errors].each do |error| %>
            <%= error %>
        <% end %>
    <% end %>
    
    <p><%= f.label :blogger_id %>
    <%= f.collection_select :blogger_id, @bloggers, :id, :name %></p>
    <p><%= f.label :destination_id %>
    <%= f.collection_select :destination_id, @destinations, :id, :name, :country %></p>
    
    <p><%= f.label :title %>
    <%= f.text_field :title %></p>
    <p><%= f.label :content %>
    <%= f.text_area :content %></p> 
    <p><%= f.submit %></p>
<%end %>